openapi: 3.2.0
info:
  title: Minubo Auth API
  version: 1.0.0
  description: '# Getting Started


    Base URL: `https://api.minubo.com`


    This reference combines multiple service specifications into one API view, including Auth, ETL, and the Data API.'
servers:
- url: https://api.minubo.com
security:
- etl_bearerAuth: []
- data_bearerAuth: []
tags:
- name: Auth
  description: Auth endpoints
paths:
  /auth/v1/token:
    post:
      tags:
      - Auth
      summary: Get a JWT issued to use as Bearer token
      description: Returns a signed JWT for use as a Bearer token. The token is valid for 20 minutes.
      operationId: auth_authenticateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_ApiTokenGrantRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/auth_AccessTokenResponse'
components:
  schemas:
    auth_ApiTokenGrantRequest:
      type: object
      properties:
        tokenId:
          type: string
        tokenSecret:
          type: string
    auth_AccessTokenResponse:
      type: object
      properties:
        token:
          type: string
  securitySchemes:
    etl_bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme. Can be retrieved by authenticating with the /auth/v1/token endpoint.
      in: header
      scheme: bearer
      bearerFormat: JWT
    data_bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme. Can be retrieved by authenticating with the /auth/v1/token endpoint.
      in: header
      scheme: bearer
      bearerFormat: JWT
