openapi: 3.2.0
info:
  title: Minubo ETL API
  version: 1.0.0
  description: '# Getting Started


    Base URL: `https://api.minubo.com`


    This reference combines multiple service specifications into one API view, including Auth, ETL, and the Data API.'
servers:
- url: https://api.minubo.com
security:
- etl_bearerAuth: []
- data_bearerAuth: []
tags:
- name: ETL
  description: ETL endpoints
paths:
  /etl/v1/process/start:
    post:
      tags:
      - ETL
      summary: Start an ETL process
      operationId: etl_processStart
      parameters:
      - name: forceFullLoad
        in: query
        description: 'Force a full load (default: false)'
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '202':
          description: Process started
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStartResponse'
        '400':
          description: Invalid request, missing parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStartResponse'
        '500':
          description: Unexpected internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStartResponse'
  /etl/v1/status/report:
    get:
      tags:
      - ETL
      summary: Get ETL Status History
      operationId: etl_getEtlDaysStatus
      responses:
        '200':
          description: ETL status history for the last 30 days including today
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLDayResponse'
        '400':
          description: Invalid request, missing parameters
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/etl_ETLDayResponse'
        '500':
          description: Unexpected internal error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/etl_ETLDayResponse'
  /etl/v1/status/current:
    get:
      tags:
      - ETL
      summary: Get Today's ETL Status
      operationId: etl_getCurrentEtlDayStatus
      responses:
        '200':
          description: Current ETL day
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLDayResponse'
        '400':
          description: Invalid request, missing parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLDayResponse'
        '404':
          description: No ETL schedule is planned for the current day
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLDayResponse'
        '500':
          description: Unexpected internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLDayResponse'
  /etl/v1/process/status/{processUuid}:
    get:
      tags:
      - ETL
      summary: Get ETL process status by process UUID
      operationId: etl_getProcessStatus
      parameters:
      - name: processUuid
        in: path
        description: Process UUID returned by /etl/v1/process/start
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Process status found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStatusResponse'
        '400':
          description: Invalid request, missing parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStatusResponse'
        '404':
          description: Process not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStatusResponse'
        '500':
          description: Unexpected internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStatusResponse'
  /etl/v1/process/status/latest:
    get:
      tags:
      - ETL
      summary: Get latest ETL process status
      operationId: etl_getProcessStatus_1
      responses:
        '200':
          description: Process status found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStatusResponse'
        '400':
          description: Invalid request, missing parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStatusResponse'
        '404':
          description: Process not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStatusResponse'
        '500':
          description: Unexpected internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/etl_ETLProcessStatusResponse'
components:
  schemas:
    etl_ETLDayResponse:
      type: object
      properties:
        date:
          type: string
          format: date
        startedDateTime:
          type: string
          format: date-time
        finishingDateTime:
          type: string
          format: date-time
        etaDateTime:
          type: string
          format: date-time
        statusCode:
          type: string
          enum:
          - done
          - ongoing
          - not_started
          - on_hold
          - no_daily_update
        stages:
          type: array
          items:
            $ref: '#/components/schemas/etl_ETLDayStageResponse'
        targetDateTime:
          type: string
          format: date-time
        targetResultCode:
          type: string
          enum:
          - in_time
          - delayed
          - not_processed
    etl_ETLProcessStepResponse:
      type: object
      properties:
        stepCode:
          type: string
          enum:
          - extract
          - transform
          - load
        startedDateTime:
          type: string
          format: date-time
        finishedDateTime:
          type: string
          format: date-time
        statusCode:
          type: string
          enum:
          - running
          - error
          - success
    etl_ETLProcessStatusResponse:
      type: object
      properties:
        processUuid:
          type: string
          format: uuid
        statusCode:
          type: string
          enum:
          - error
          - scheduled
          - loading
          - schematization
          - integrating
          - checking
          - finished
          - aborted
          - killed
        startedDateTime:
          type: string
          format: date-time
        creationDateTime:
          type: string
          format: date-time
        followupProcessUuid:
          type: string
          format: uuid
        steps:
          type: array
          items:
            $ref: '#/components/schemas/etl_ETLProcessStepResponse'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/etl_ETLProcessLogResponse'
    etl_ETLDayStageResponse:
      type: object
      properties:
        stageCode:
          type: string
          enum:
          - abort
          - start
          - extract
          - transform
          - load
          - check
        startDateTime:
          type: integer
          format: int64
        endDateTime:
          type: integer
          format: int64
    etl_ETLProcessLogResponse:
      type: object
      properties:
        stageCode:
          type: string
          enum:
          - abort
          - start
          - extract
          - transform
          - load
          - check
        interfaceCode:
          type: string
        resultDescription:
          type: string
        errorMessage:
          type: string
        taskCode:
          type: string
        logDateTime:
          type: string
          format: date-time
        statusCode:
          type: string
          enum:
          - running
          - error
          - success
          - warning
          - data_validation_warning
          - extract_validation_warning
          - skipped
          - aborted
    etl_ETLProcessStartResponse:
      type: object
      properties:
        processUuid:
          type: string
          format: uuid
  securitySchemes:
    etl_bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme. Can be retrieved by authenticating with the /auth/v1/token endpoint.
      in: header
      scheme: bearer
      bearerFormat: JWT
    data_bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme. Can be retrieved by authenticating with the /auth/v1/token endpoint.
      in: header
      scheme: bearer
      bearerFormat: JWT
